= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      .chat-main__header-edit-btn
        = link_to "Edit", edit_group_path(@group)
    .chat-main__header-members
      MEMBER :
      = @group.users.pluck(:name).join(", ")

  .chat-main__body
    = render partial: 'message', collection: @messages

  .chat-main__footer
    .form
      =form_for [@group, @message] do |f|
        = f.text_field :text, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

